.filter-section p {
  font-size: 1rem;
  color: #1a1a1a; /* Negro como en el formField */
  padding: 0 10px;
  display: inline-block;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}

.filter-section p:focus-within,
.filter-section p:hover {
  color: #00bfae; /* Azul turquesa */
  border-color: #00bfae;
}
