.footer {
  background-color: transparent; /* Fondo transparente */
  padding: 15px 20px;
  border-top: 1px solid #00bfae; /* Azul turquesa */
  text-align: center;
  color: #1a1a1a; /* Texto en negro */
  font-size: 14px;
  font-weight: 500;
}

.footer:hover {
  background-color: #00bfae; /* Azul turquesa claro al pasar el ratón */
  color: #ffffff; /* Blanco cuando se pasa el ratón */
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
